@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#game-wrapper {
  width: 600px;
  height: 600px;
  position: relative;
  background-color: forestgreen;
}

.player-score {
  position: absolute;
  color: gold;
  /* font-size: 10px; */
  font-size: 24px;
  /* font-size: 30px; */
}

.player-score.bottom {
  top: calc(100% - 8px);
  left: 12px;
  transform: translateY(-100%);
}

.player-score.top {
  top: 8px;
  left: 12px;
}

.player-score.left {
  top: 170px;
  left: 12px;
  transform: translateY(-50%);
}

.player-score.right {
  top: 170px;
  left: 405px;
  transform: translateY(-50%);
}
