@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#game-wrapper {
  width: 600px;
  height: 600px;
  position: relative;
  background-color: forestgreen;
}

.player-score {
  position: absolute;
  /* font-size: 65%; */
  color: gold;
}

.player-score.bottom {
  top: 96%;
  left: 10%;
  transform: translateX(-50%) translateY(-50%);
}

.player-score.top {
  top: 4%;
  /* left: 80%; */
  left: 10%;
  transform: translateX(-50%) translateY(-50%);
}

.player-score.left {
  top: 29%;
  left: 10%;
  transform: translateX(-50%) translateY(-50%);
}

.player-score.right {
  top: 29%;
  left: 75%;
  transform: translateX(-50%) translateY(-50%);
}
